{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="container mt-4">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Login</button>
        <a href="{% url 'account_signup' %}" class="btn btn-secondary">Do not have an account? Sign up</a>
        <a href="{% url 'account_signup' %}" class="btn btn-secondary">Sign Up</a>
        </form>
    </form>
</div>
{% endblock %}
