{% extends 'base.html' %}

{% block title %}Your Profile{% endblock %}

{% block content %}
    <h2>Your Profile</h2>
    <p><strong>Username:</strong> {{ user.username }}</p>

    <h3>Your Quizzes Results</h3>
    {% if quiz_results %}
        <ul>
            {% for category, score in scores_by_category.items %}
                <li>
                    <strong>{{ category.name }}</strong>: {{ score }}
                </li>
            {% endfor %}
        </ul>
        <p><strong>Total Score:</strong> {{ total_score }}</p>
        <p><strong>Worldwide Rank:</strong> {{ worldwide_rank }}</p>
    {% else %}
        <p>You haven't taken any quizzes yet.</p>
        <p>Please try one ane test your knowledge. <strong>Good luck!</strong></p>
        <a href="{% url 'categories' %}" class="btn btn-primary">Take a Quiz</a>
    {% endif %}
{% endblock %}
